* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }

body {
    color: black;
    background-color: white ;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
}

.header {
    text-align: center;
    align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
    border-color: black solid 0.1em;
    height: 40px;
    width: 80px;
    display: flex;
}

.form {
  width: 100%; 
}

.answerBox {

}

input {
  width: 30px;
}
.questionCount {
 text-align: center;
}

.questionText {
  text-align: center;
}



.header li {
    display: inline-block;
    margin: 1em;
    list-style: none;
    font-size: 1.3em;
}

.startQuiz {
  margin: auto;
}

.questionStyle {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.sumbitbutton{
  margin: 0 auto;
  border-color: black solid 0.1em;
  height: 40px;
  width: 80px;
  display: flex;
}


.allButtons {
 width: 100%;
 text-align: center;
}

#button {
  align-items: center;
}

.quizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border: 0.2em black solid;
}

.startButton {
    margin: auto;
    border-color: black solid 0.1em;
    height: 40px;
    width: 80px;
    display: flex;
  }

.final {
    display: block;
}

@media only screen and (min-width: 320px) {
    .container {
        width: 90%;
        height: 31em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
      }

    .nbaLogo {
      width: 45%;
    }
  
  
    .box {
      width: 90%;
      height: 90%;
    }
  
    button {
      margin-top: 0.5em;
      font-size: 1em;
      width: 8em;
      height: 2.5em;
    }
  
    h1,
    h3,
    legend {
      font-size: 1em;
    }
  
    .header li {
      font-size: 1em;
    }
  
    .qestionCount {
      font-size: 0.9em;
      margin: 0.1em;
    }
  }
  
  @media only screen and (min-width: 550px) {
    .container {
      width: 29.5em;
      height: 31.5em;
      padding-top: 2.6em;
      padding-bottom: 2.6em;
    }
  
    .box {
      width: 100%;
      height: 98%;
    }
  
    button {
      margin-top: 1em;
      font-size: 1em;
      width: 10em;
      height: 2.5em;
    }
  
    h1,
    h3,
    legend {
      font-size: 1em;
    }
  
    .questionCount {
      font-size: 0.9em;
    }
  }
  
  @media only screen and (min-width: 800px) {  
    .header li {
      margin: 1em;
      font-size: 1.3em;
    }
  
    .container {
      width: 35em;
      height: 38em;
    }
  
    .box {
      width: 85%;
      height: 95%;
    }
  
    h1,
    h3,
    legend {
      font-size: 1.3em;
    }
  
    .questionCount {
      font-size: 1em;
    }
  
    button {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 12em;
      font-size: 1.2em;
    }
  }